<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
     <div class="home-feature center-block wow bounceIn" data-wow-duration="4s" data-wow-delay="3s" >
          <img class="img-responsive" src="images/chaplist/indice.png" alt="">
      </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
      <div class="home-content wow fadeInLeft" data-wow-duration="3s" data-wow-delay="2s">
          <h1>ChapList</h1>
          <p>Las mejores <strong>ofertas</strong> en tu Smartphone, podras obtener tus productos a los mejores precios en tu establecimiento favorito, ademas de comparar precios y comprar mas por menos.</p>
          <a class="btn btn-success" role="button" href="https://play.google.com/store/apps/details?id=com.ionicframework.chaplist518635">
            <img src="images/playdown.png" width="40" /> <span>Descarga del Play Store</span>
          </a>
      </div>
  </div>
</div>
