<div class="tutosite">
  <div class="twelve columns">
    <h1>Estamos trabajando en algo que cambiara tu forma de aprender</h1>
    <p>Estamos en el proceso de creacion de una plataforma; unica en guatemala, donde podras ganar dinero por tus habilidades y conocimientos,
      o bien aprender eso que siempre has querido saber. Aprender nunca fue tan facil e inmediato.</p>
    <h5>El lanzamiento sera en: </h5>
    <div id="counter" class="cf">
      <span> 134 <em>dias</em></span>
      <span> 12 <em>horas</em></span>
      <span> 50 <em>minutos</em></span>
      <span> 33 <em>segundos</em></span>
    </div>
  </div>
</div>
