<div class="row">
    <div class="tutosite">
    <h1>Estamos trabajando en algo que cambiara tu forma de aprender</h1>
      <p>Estamos en el proceso de creacion de una plataforma; unica en guatemala, donde podras ganar dinero por tus habilidades y conocimientos,
        o bien aprender eso que siempre has querido saber. Aprender nunca fue tan facil e inmediato.</p>
    </div>
    <timer end-time="1463551200000">
        <span> {{days}} <em>dias</em></span>
        <span> {{hours}} <em>horas</em></span>
        <span> {{minutes}} <em>minutos</em></span>
        <span> {{seconds}} <em>segundos</em></span>
    </timer>
</div>
