
<!--Inicio  bootstrap-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- If no online access, fallback to our hardcoded version of jQuery -->
<script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/frontend/wow.min.js"></script>
<link rel="stylesheet"  href="css/responsivetheme.css" >
<script type="text/javascript" src="../js/frontend/maincustom.js"></script>
<!--Fin bootstrap-->
