<section ng-controller='experienceCtrl' id="experienciaSec">
  <div class="container">
    <H3 class="text-center"><font color="white">Nuestra Experiencia</font></H3>
    <div class="row">
      <!-- Inicio tabs-->
      <div class="col-md-6">
        <uib-tabset active="active" justified="true">
          <uib-tab ng-repeat=" skill in skills" heading={{skill.name}}>
            <br>
            <div class="row">
              <div class="col-md-1">
                <img class="icon" ng-src="{{ skill.icon }}" height="100 px" width="100 px">
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-8"><font color="white">{{skill.description}}</font></div>
            </div>
          </uib-tab>

        </uib-tabset>

      </div>
      <!-- Fin tabs-->
      <!--ProgressBar-->
      <div class="col-md-6">
        <div ng-repeat=" skillPorcent in skillsPorcent">
            <font color="white"><small><em class="pull-right"> {{skillPorcent.value}} %</em></small></font>
            <font color="white"><small><em> {{skillPorcent.name}} </em></small></font>
          <uib-progressbar value="skillPorcent.value" class="progress-striped active" type="info" max="100">{{skillPorcent.value}}</uib-progressbar>
        </div>
      </div>
      <!--Fin ProgressBar-->
    </div>
  </div>
</section>
