<footer class="footer-distributed">
  <div class="footer-left">
    <img src="images/LogoCompletoFinal.png" alt="logo"/>
    <p class="footer-company-name">Oktacore &copy; 2016</p>
  </div>

			<div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>31 Calle 21-29 Zona 12</span> Guatemala City, Guatemala</p>
        </div>
				<div>
					<i class="fa fa-phone"></i>
					<p>+502 42807260</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:oktacore.team@gmail.com">oktacore.team@gmail.com</a></p>
				</div>
			</div>

			<div class="footer-right">
        <p class="footer-company-about">
          <span>Sobre la empresa</span>
          Somos una empresa de desarrollo de soluciones tecnologicas, brindando servicios de alta calidad, utilizando las ultimas herramientas del mercado, implementando metodologias agiles de desarrollo.
        </p>

				<div class="footer-icons">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/oktacore"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</footer>
