<main>
  <!-- Barrita de navegacion chepecode -->

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo" /></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="gotoAnchor(1)" >Productos</a></li>
        <li><a href="" ng-click="gotoAnchor(2)"> Clientes</a></li>
        <li><a href="" ng-click="gotoAnchor(3)"> About Us</a></li>
        <li><a href="" ng-click="gotoAnchor(4)" > Servicios</a></li>
        <li><a href="" ng-click="gotoAnchor(5)" >Contacto</a></li>
      </ul>
    </div>
  </nav>
  <!-- Barrita de navegacion chepecode -->
  <!--Inicio Productos by Chepecode -->
  <section id="homeSec1">
      <uib-carousel active="activeP" interval="myIntervalP" no-wrap="noWrapSlidesP" no-transition="false">
          <uib-slide ng-repeat="slide in slidesP track by slide.id" index="slide.id" id="slides_control">
            <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive">
            <div class="carousel-caption">
                <div ng-include = "slide.dirWeb"></div>
                <!--
                <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
                   <div class="home-feature center-block wow bounceIn" data-wow-duration="4s" data-wow-delay="3s" >
                        <img class="img-responsive" src="images/chaplist/indice.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
                    <div class="home-content wow fadeInLeft" data-wow-duration="3s" data-wow-delay="2s">
                        <h1>ChapList</h1>
                        <p>Las mejores <strong>ofertas</strong> en tu Smartphone, podras obtener tus productos a los mejores precios en tu establecimiento favorito, ademas de comparar precios y comprar mas por menos.</p>
                        <button type="submit" class="btn btn-success ">
                          <img src="images/playdown.png" width="40" /> <span>Descarga del Play Store</span>
                        </button>
                    </div>
                </div>-->

            <!--  <h5>Slide {{$index+1}}</h5>-->
            </div>
          </uib-slide>
      </uib-carousel>
  </section>

  <!---Fin  Productos by Chepecode -->
  <!--Achivements-->
  <div ng-include="'views/achievement.html'"></div>
  <!--Fin Achivements-->
  <!--Clientes-->
  <div ng-include="'views/clientes.html'"></div>
  <!--Fin Clientes-->
  <div ng-include="'views/our.html'"></div>
  <!--experiencia-->
  <div ng-include="'views/experience.html'"></div>
  <!--Fin experiencia-->
  <!--contáctanos-->
  <div ng-include="'views/contactUs.html'"></div>
  <!-- Fin contáctanos-->
  <!--  <div ng-include="'views/footerSection.html'"></div>-->
  <!--Fin contáctanos-->
</main>
