<main>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="profile-text">
                <button ng-click="hola('pancho')" type="button">Click Me!</button>
            </div>
        </div>

        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="member in arrayMembers">
              nombre: {{member.nombre}} <br/> apellido: {{member.apellido}} <br/>
              <img ng-src="https://lh3.googleusercontent.com/FH_SqBpPnOOUil6DEc5EeD_TGJ2B8yf42fKoUG68XduB3WTqZRra5APXAdOFWZVgUJw=w300"> <br/>
              -----------------------------------------------------------
            </li>
          </ul>

    </div>
</main>
