<main>
  <!-- Barrita de navegacion chepecode -->
<header>
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation"
      id="top-nav">
        <div class="container">
          <div class="navbar-header page-scroll">

            <a class="navbar-brand page-scroll" href="#home">
              <img src="images/logo.png" alt="logo" />
            </a>

            <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right scroll">
              <li class="#works"><a href="#home">Home</a></li>
              <li><a href="#products">Productos</a></li>
              <li><a href="#services">Servicios</a></li>
              <li><a href="#aboutus"> About Us</a></li>
              <li><a href="#contacttus">Contacto</a></li>
              <li><a href="#clients">Clientes</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--
  <section id="productsCarousel">
    <div class="carousel slide" id="productCarousel" data-ride="carousel">
      <ol class="carousel-indicators text-center">
        <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#productCarousel" data-slide-to="1"></li>
        <li data-target="#productCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="overlay-slide">
            <img src="images/banner/b1.jpg" class="img-responsive" />
          </div>
          <div class="carousel-caption">
            <div class="col-md-12 col-xs-12 text-center">
              <h2>Octacore</h2>
              <h3 class="animated2"> we <b>Build</b> your <b>Future</b></h3>
              <div class="line">
              </div>
              <p class="animated3">
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="overlay-slide">
            <img src="images/banner/b2.jpg" class="img-responsive" />
          </div>
          <div class="carousel-caption">
            <div class="col-md-12 col-xs-12 text center">
              <h2>ChapList</h2>
              <h3 class="animated3">Tu mejores opciones de Compra</h3>
              <div class="line">
              </div>
              <p class="animated2">
                Reune todas tus compras en un solo lugar.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="slides-control">
        <a class="left carousel-control" href="#productCarousel" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#productCarousel" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
        </a>
      </div>
    </div>
  </section>
-->
  <!-- Barrita de navegacion chepecode -->
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="profile-text">
                <button ng-click="hola('pancho')" type="button">Click Me!</button>
            </div>
        </div>

        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="member in arrayMembers">
              nombre: {{member.nombre}} <br/> apellido: {{member.apellido}} <br/>
              <img ng-src="https://lh3.googleusercontent.com/FH_SqBpPnOOUil6DEc5EeD_TGJ2B8yf42fKoUG68XduB3WTqZRra5APXAdOFWZVgUJw=w300"> <br/>
              -----------------------------------------------------------
            </li>
          </ul>

    </div>
</main>
