/* Estilos responsivos para cada tipo de pantalla
================================================== */
/* Dispositivos grandes, pantalla completa */
@media (min-width : 1200px) {

  .navbar-nav
  {
    padding-right: 150px;
  }
}
/* Dispositivos medios, escritorios pequeños*/
@media (min-width : 992px) {
      body {
        padding-top: 75px;
      }

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

  .navbar-header{
  		width: 20%;
  	}
  	.navbar-brand {
      	height: 48px;
  	}
  	ul.navbar-nav a {
  	    padding: 0px 0px 0px 5px;
  	}
    body {
      padding-top: 70px;
    }


}
/* Dispositivos pequeños */
@media (max-width : 769px){

  body {padding-top: 60px;}
  .navbar-default {height: 60px; }
  .navbar-brand img {height: 30px;}
  ul.navbar-nav a {padding: 5px 0px 0px 0px;}
  .navbar-collapse{ background: #fff;}
  #slides_control > img { height: 500px; }

}
