/* BLUE: #24C0D9;
BLACK: #5E5865;
Gray: #666;
Dark Gray: #727272;
*/
/* GENERAL STYLES
================================================ */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
/* navegacion
================================================ */

.navbar-default {
    background: #fff;
    border-color: transparent;
    padding: 10px 0;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    padding: 5px 15px;
    max-width: 220px;
    font-size:40px;
    color: #222;
}
.navbar-brand img{
  height: 200%;
    width: auto;
    vertical-align: top;
    max-width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: #949494;
    margin-right: 8px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #24C0D9;
}
ul.navbar-nav a {
    font-weight: 700;
    font-size: 14px;
    padding: 15px 0 15px 30px;
    line-height: 40px;
    display: inline-block;
    text-transform: uppercase;
}
.nav > li > a:focus {
   background: transparent!important;
}
ul.navbar-nav > .active > a{
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
}



/* HEADER
================================================ */
